django== 4.2.3
django-cors-headers==4.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
djangorestframework-simplejwt
cryptography==41.0.2
tornado==6.3.2
dnspython==1.16.0
enum-compat==0.0.3
eventlet==0.25.2
monotonic==1.5
python-engineio==4.5.1
python-socketio==5.8.0
pytz==2020.1
six==1.15.0
greenlet==2.0.0rc4
channels==4.0.0
django-sslserver